.home {
    padding: 3rem;
  }
  
  .home section.top-navigation {
    text-align: center;
  }
  
  .home span.line {
    border-left: 2px solid #666c73;
  }
  
  .home section.top-navigation a {
    color: #666c73;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 3rem;
  }
  
  .home section.top-navigation a.logo {
    font-size: 2.5rem;
  }
  
  .home section.bottom-navigation a {
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
    margin: 0 5vw;
  }
  
  .home section.bottom-navigation a:last-child {
    color: #666c73;
    padding: 10px;
    font-size: 1rem;
    border-radius: 60px;
    border: 2px solid #666c73;
    position: absolute;
    right: 3vw;
  }
  .home section.bottom-navigation a:last-child:hover {
    color: #fbbc04;
    border: 2px solid #fbbc04;
  }
  
  section.about-content {
    background-image: url("../static/about_us_content/about-content-bg.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 2rem 1rem;
    border-radius: 10px;
    height: 70vh;
  }
  
  .about-content {
    position: relative;
  }
  
  .about-content img {
    width: 60%;
    margin: 3rem;
  }

  .about-content h3 {
    color: white;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
  }

  .about-us-btn {  
    position: relative;
    z-index : 1;
  }
  
  .about-us-btn:before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : -10%;
    height  : 2px;
    width   : 50%;  
    border-bottom:2px solid #EA4335;
  }
  
  @media (max-width: 767.98px) {
    .home {
      padding: 1.5rem;
    }
    .home section.top-navigation a {
      font-size: 1.5rem;
      margin: 0.8rem;
    }
    .home section.top-navigation a img {
      width: 8%;
    }

    .about-content h3 {
      font-size: 3.5vw;
      right: -20%;
    }
    .home section.bottom-navigation {
      text-align: center;
    }

    .home section.bottom-navigation a {
        margin: 0 2.5vw;
        font-size: 4vw;
    }

    .home section.bottom-navigation a:last-child {
      position: static;
      margin: 1.5vw;
    }
  }
  