.home {
  padding: 3rem;
}

.home section.top-navigation {
  text-align: center;
}

.home span.line {
  border-left: 2px solid #666c73;
}

.home section.top-navigation a {
  color: #666c73;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 3rem;
}

.home section.top-navigation a.logo {
  font-size: 2.5rem;
}

.home section.bottom-navigation a {
  display: inline-block;
  font-weight: 500;
  font-size: 2rem;
  margin: 0 4vw 0 1vw;
  transform: translateX(3vw);
}

.home section.bottom-navigation a:last-child {
  color: #666c73;
  padding: 10px;
  font-size: 1rem;
  border-radius: 60px;
  border: 2px solid #666c73;
  position: absolute;
  right: 6vw;
  transition: color 250ms ease, border 250ms ease;
}
.home section.bottom-navigation a:last-child:hover {
  color: #fbbc04;
  border: 2px solid #fbbc04;
}

section.hero {
  background-image: url("../static/home_theme/winter-sample.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 2rem 1rem;
  border-radius: 10px;
  height: 70vh;
}

.hero {
  position: relative;
  color: white;
}



.hero h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
}
.hero p {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us-hover-btn {  
  position: relative;
}

.about-us-hover-btn:after {
  display:block;
  content: '';
  border-bottom: solid 3px #EA4335;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.about-us-hover-btn:hover::after {
  transform: scaleX(0.5);
}

@media (max-width: 767.98px) {
  .home {
    padding: 1.5rem;
  }
  .home section.top-navigation a {
    font-size: 1rem;
    margin: 0 5vw 0 3vw;
  }
  .home section.top-navigation a.logo {
    font-size: 1.5rem;
  }
  .home section.top-navigation a img {
    width: 8%;
  }
  section.hero {
    background-image: url("../static/home_theme/winter-sample.png");
  }
  .hero h2 {
    top: 10%;
    left: 49%;
    font-size: 4.5vw;
  }
  .hero p {
    top: 35%;
    width: 85%;
    font-size: 3.5vw;
  }

  .home section.bottom-navigation a {
    display: inline-block;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 4vw 0 4vw;
    transform: translateX(2vw);
  }
  .home section.bottom-navigation a:last-child {
    color: #666c73;
    padding: 10px;
    font-size: 1rem;
    border-radius: 60px;
    border: 2px solid #666c73;
    position: absolute;
    right: 8vw;
  }
  

  /* .home section.bottom-navigation a:last-child {
   position: static; 
    margin-right: auto;
  } */
}
