.home {
  padding: 3rem;
}

.home section.top-navigation {
  text-align: center;
}

.home span.line {
  border-left: 2px solid #666c73;
}

.home section.top-navigation a {
  color: #666c73;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 3rem;
}

.home section.top-navigation a.logo {
  font-size: 2.5rem;
}

.home section.bottom-navigation a {
  display: inline-block;
  font-weight: 500;
  font-size: 2rem;
  margin: 0 4vw 0 1vw;
  transform: translateX(3vw);
}

.home section.bottom-navigation a:last-child {
  color: #666c73;
  padding: 10px;
  font-size: 1rem;
  border-radius: 60px;
  border: 2px solid #666c73;
  position: absolute;
  right: 6vw;
  transition: color 250ms ease, border 250ms ease;
}
.home section.bottom-navigation a:last-child:hover {
  color: #fbbc04;
  border: 2px solid #fbbc04;
}

section.hero {
<<<<<<< HEAD
  background-image: url("../static/home_theme/winter-sample.png");
=======
  background-image: url("../static/home_theme/background.png");
>>>>>>> 4b0e779ce66fac19771fb3662fdbfeed5cfa0afd
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 2rem 1rem;
  border-radius: 10px;
  height: 70vh;
}

.hero {
  position: relative;
  color: white;
}

.hero h2 {
  position: absolute;
  top: 13%;
  left: 63%;
  background: -webkit-linear-gradient(#fda003, #fb7106, #d63600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  color: #666c73;
  font-weight: 900;
}
.hero p {
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-26%, -50%);
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.1vw;
}

.about-us-hover-btn {
  position: relative;
}

.about-us-hover-btn:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ea4335;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.about-us-hover-btn:hover::after {
  transform: scaleX(0.5);
}

@media (max-width: 767.98px) {
  .home {
    padding: 1.5rem;
  }
  .home section.top-navigation a {
    font-size: 1rem;
    margin: 0 5vw 0 3vw;
  }
  .home section.top-navigation a.logo {
    font-size: 1.5rem;
  }
  .home section.top-navigation a img {
    width: 8%;
  }
  section.hero {
<<<<<<< HEAD
    background-image: url("../static/home_theme/winter-sample.png");
=======
    background-image: url("../static/home_theme/background-mobile.jpg");
>>>>>>> 4b0e779ce66fac19771fb3662fdbfeed5cfa0afd
  }
  .hero h2 {
    top: 3%;
    left: 24%;
    /* background: -webkit-linear-gradient(rgb(85, 85, 85), rgb(85, 85, 85), rgb(85, 85, 85));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    transform: translate(-13%, -10%);
    font-size: 6vw;
  }
  .hero p {
    top: 30%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
  }

  .home section.bottom-navigation a {
    display: inline-block;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 4vw 0 4vw;
    transform: translateX(2vw);
  }
  .home section.bottom-navigation a:last-child {
    color: #666c73;
    padding: 10px;
    font-size: 1rem;
    border-radius: 60px;
    border: 2px solid #666c73;
    position: absolute;
    right: 8vw;
  }

  /* .home section.bottom-navigation a:last-child {
   position: static; 
    margin-right: auto;
  } */
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .hero p {
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-26%, -50%);
    font-size: 1.5vw;
  }
}
