
.pastEventsContainer{
  width: 80%;
  margin: auto;
}

.rewind{
    background-color: #2d7eea; 
    border: none;
    color: #e8f1fd;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 2px rgb(172, 172, 172);
    cursor: pointer;
}
.feedback{
    padding: 10px 24px;
    background-color: white;
    border: none;
    color: #2d7eea;
}

.rewindFeedback{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.PastEventsTitle{
  margin-top: 20px;
  margin-left: 70px;
  font-size: 45px;
  font-weight: normal;
  /* Google Grey */
  color: #666C73;
  padding-top: 20px;
  padding-bottom: 0px;
  }

.pastEventsSlider{
  width: 500px !important;
}

.pastEventsImagePoster{
  border-radius: 30px;
  width: 100%;
  height: auto;
  padding: 17px;
}


  /* @media only screen and (min-width: 320px) {

    .pastEventsImagePoster{
      width: 250px;
      height: 300px;
    }

  }

  @media only screen and (min-width: 768px) {

  }

  @media only screen and (min-width: 1024px) {

  } */